In [1]:
import pandas as pd

In [36]:
dates = pd.read_csv("dates.txt",names=["dates"])

In [37]:
dates["dates"] = [i.split("-")[2] + "-" + i.split("-")[0] + "-" + i.split("-")[1] for i in dates["dates"]]

In [38]:
dates

          dates
0    2018-04-27
1    2018-04-26
2    2018-04-25
3    2018-04-24
4    2018-04-23
5    2018-04-22
6    2018-04-21
7    2018-04-20
8    2018-04-19
9    2018-04-18
10   2018-04-17
11   2018-04-16
12   2018-04-15
13   2018-04-14
14   2018-04-13
15   2018-04-12
16   2018-04-11
17   2018-04-10
18   2018-04-09
19   2018-04-08
20   2018-04-07
21   2018-04-06
22   2018-04-05
23   2018-04-04
24   2018-04-03
25   2018-04-02
26   2018-04-01
27   2018-03-31
28   2018-03-30
29   2018-03-29
..          ...
450  2017-01-30
451  2017-01-29
452  2017-01-28
453  2017-01-27
454  2017-01-26
455  2017-01-25
456  2017-01-24
457  2017-01-23
458  2017-01-22
459  2017-01-21
460  2017-01-20
461  2017-01-19
462  2017-01-18
463  2017-01-17
464  2017-01-16
465  2017-01-15
466  2017-01-14
467  2017-01-13
468  2017-01-12
469  2017-01-11
470  2017-01-10
471  2017-01-09
472  2017-01-08
473  2017-01-07
474  2017-01-06
475  2017-01-05
476  2017-01-04
477  2017-01-03
478  2017-01-02
479  2017-01-01

[480 rows x 1 columns]

In [41]:
dates.to_csv("datess.txt",sep="\n",header=None,index=None)